@charset "ISO-8859-1";
.login,.image {
  min-height: 100vh;
  padding: 0;
  background: rgba(0,0,0,0.05);
}

.bg-image {
background-image: url("../img/Servicios_soldadura.jpg");
  background-size: cover;
  background-position: center center;
}